.about{
    &__content-bottom{
        &__single-content{
            &__icon{
                width: 88px;
                height: 88px;
                i{
                    text-align: center;
                    border: 1px solid white ;
                }
            }
            p{
                padding-right: 56px;
            }
        }
    }
}