.achievements{
    &__single-achievement{
        .icon{
            width: 60px;
            height: 60px;
            i{
                text-align: center;
                border: 1px solid white ;
            }
        }
    }
}