.header{
    &.fixed{
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        right: 0;
        // background-color: $black;
        a{
            color: $white;
            font-weight: 600;
            margin-left: 15px;
            text-transform: capitalize;
            &:hover{
                color: $primary_color;
            }
        }
    }
    &__navigation-bar{
        li{
            a{
                &:hover{
                    color: $primary_color;
                }
            }
        }
    }
}